<div class="comments" id="client">
	<div class="container">
		<div class="comments-main">
			<div class="comments-head">
				<h3>Comments from our customers</h3>
				<p>Lorem ipsum dolor sit amet,vehicula vel sapien et</p>
			</div>
			<div class="comments-top">
				<div class="col-md-4 comments-bottom">
					<div class="comments-left">
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="comments-right">
						<h3>Paul Demichev</h3>
						<p class="para1">Client,Some Company</p>
						<p class="para2">Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 comments-bottom">
					<div class="comments-left">
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="comments-right">
						<h3>Oleg Topanic</h3>
						<p class="para1">Client,Some Company</p>
						<p class="para2">Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 comments-bottom">
					<div class="comments-left">
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="comments-right">
						<h3>Julia Usina</h3>
						<p class="para1">Client,Some Company</p>
						<p class="para2">Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.

						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-4 comments-bottom">
					<div class="comments-left">
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="comments-right">
						<h3>Serdyuk Elena</h3>
						<p class="para1">Client,Some Company</p>
						<p class="para2">Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 comments-bottom">
					<div class="comments-left">
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="comments-right">
						<h3>Kulikov Vlad</h3>
						<p class="para1">Client,Some Company</p>
						<p class="para2">Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 comments-bottom">
					<div class="comments-left">
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="comments-right">
						<h3>Andrey Tikhonov</h3>
						<p class="para1">Client,Some Company</p>
						<p class="para2">Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>