<div class="choose">
	<div class="container">
		<div class="choose-main">
			<div class="col-md-5 choose-left">
				<h2>SPECIAL SERVICES</h2>
			</div>
			<div class="col-md-7 choose-right">
				<div class="col-md-6 choose-right-top">
					<h4>Best Chef</h4>
					<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. Morbi vulputate tempor
						nisl nec tristique.
					</p>
				</div>
				<div class="col-md-6 choose-right-top">
					<h4>150 Tables</h4>
					<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. Morbi vulputate tempor
						nisl nec tristique.
					</p>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-6 choose-right-top">
					<h4>Card Payment</h4>
					<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. Morbi vulputate tempor
						nisl nec tristique. 
					</p>
				</div>
				<div class="col-md-6 choose-right-top">
					<h4>Special Offers</h4>
					<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. Morbi vulputate tempor
						nisl nec tristique.
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>